:root {
    --font-heading: 'Poppins', sans-serif;
    --font-body: 'Inter', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn{
    background-color: #FF5959;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

.display-flex{
    display: flex;
}

.banner-content, .donate-section, .updates-form{
    max-width: 1260px;
    margin: 0 auto;
}

.donate-plan-section, .impact-section{
    max-width: 1660px;
    margin: 0 auto;

}

.donate-section, .donate-plan-section{
    text-align: center;
    margin-top: 130px;
}

.section-title, .impact-title, .updates-title{
    font-family: var(--font-body);
    font-size: 2.8rem;
    font-weight: 700;
    color: #121212;
    margin-bottom: 20px;
}

.section-text, .impact-text, .updates-description{
    font-family: var(--font-heading);
    font-size: 1.12rem;
    font-weight: 400;
    color: #707070;
    margin-bottom: 50px;
}


.banner{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: 
    linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
    url(../images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.banner-tittle{
    font-family: var(--font-body);
    font-size: 4rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 24px;
}

.banner-text{
    font-family: var(--font-heading);
    font-size: 1.12rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #ffffff;
    margin-bottom: 30px;
}

.btn-primary{
    padding: 16px 12px;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}



.donate-amounts, .donate-plans, .impact-row{
    justify-content: space-around;
    margin-bottom: 60px;
}

.donate-card{
    font-family: var(--font-body);
    width: 135px;
    padding: 45px 0;
    /* border: 2px solid #707070; */
    border: none;
    background: rgba(250, 250, 250, 1);
    border-radius: 5px;
    font-size: 2rem;
    color: #707070;
}

.active{
    border: 2px solid #FF5959;
    background: rgba(252, 173, 173, 0.438);
    color: #FF5959;
}

.custom-amount-text{
    font-size: 1.12rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: #b3b3b3;
    margin-bottom: 10px;
}

hr{
    margin-bottom: 30px;
}

.plan-card{
    max-width: 360px;
    background-color: rgba(79, 157, 166, 0.1);
    text-align: left;
    padding: 64px 22px 54px;
    border: none;
    border-radius: 5px;
}

.plan-shelter{
    background-color: rgba(255, 89, 89, 0.1);
}

.plan-education, .updates-form{
    background-color: rgba(255, 244, 214, 1);
}

.plan-icon{
    margin-bottom: 32px;
}

.plan-title{
    font-family: var(--font-heading);
    font-size: 1.8rem;
    font-weight: 600;
    color: #121212;
    margin-bottom: 15px;
}

.plan-text{
    font-family: var(--font-heading);
    font-weight: 400;
    color: #707070;
}

.impact-image img{
   max-width:100%;
}

.impact-content{
    text-align: center;
    max-width: 482px;
    margin-top: 42px;

}

.impact-description{
    margin-bottom: 20px;
}

.reverse{
    flex-direction: row-reverse;
}

.hide{
    display: none;
}

.updates-content{
    max-width: 690px;
    margin: 0 auto;
    text-align: center;
}



.updates-form{
    padding: 76px 188px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 130px;
}

.form-email{
    display: flex;
   max-width: 668px;
}

.updates-email{
    max-width: 505px;
    background-color: rgba(217, 217, 217, 1);
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 20px ;
    outline: none;
    font-size: 1.1rem;
}
.secondary-btn{
    max-width: 157px;
    background-color: #FF5959;
    color: #FFFFFF;
    border: none;
    padding: 20px 42px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
}

.footer{
    background-color: black;
    text-align: center;
    padding: 42px 0;
}

.footer-title{
    font-family: var(--font-body);
    color: #FF5959;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.8rem;
    letter-spacing: 0.5px;
    margin-bottom: 24px;
}
 
.footer-text{
    font-family: var(--font-heading);
    color: #d9dbe1;
}

@media screen and (max-width:576px) {
    .banner{
        min-height: 80vh;
    }

    .donate-amounts,
    .donate-plans,
    .impact-row
    {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .impact-image{
    width: 100%;
}

.updates-form{
    width: 100%;
    padding: 76px 0;
}

.form-email{
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.updates-email{
    width: 90%;
    border-radius: 5px;
}

.secondary-btn{
    border-radius: 5px;
}
}

